.header {
  margin-top: 0;
  max-width: 100vw;
  height: 100px;
  background: #6e6e05;
  text-align: center;
  font-size: 2rem;
  padding: 10px;
  color: #ffff;
  margin-bottom: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0.2);
  position: sticky;
  top: 0;
}
